{% load static %}

<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="site">www.djangoeducationplatform.com</p>
                    <p class="num">Call:123456789</p>
                    <ul class="fh5co-social">
                        <li><a href="https://github.com/elifnurkarakoc"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{% url 'index' %}"><i class="icon-study"></i>Educ<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="{% if '/' == request.path %} active {% endif %}"><a href="{% url 'index' %}">Home</a></li>
                        <li class="{% if 'course' in request.path%} active {% endif %}"><a href="{% url 'courses' %}">Courses</a></li>
                        <li class="{% if 'teacher' in request.path%} active {% endif %}"><a href="teacher.html">Teacher</a></li>
                        <li class="{% if 'about' in request.path%} active {% endif %}"><a href="{% url 'about' %}">About</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                        <li class="btn-cta"><a href="#"><span>Create a Course</span></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>