{% load static %}

<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="site">www.djangoeducationplatform.com</p>
                    <p class="num">Call:123456789</p>
                    <ul class="fh5co-social">
                        <li><a href="https://github.com/elifnurkarakoc"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{% url 'index' %}"><i class="icon-study"></i>Educ<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="{% if '/' == request.path %} active {% endif %}"><a href="{% url 'index' %}">Home</a></li>
                        <li class="{% if 'course' in request.path%} active {% endif %}"><a href="{% url 'courses' %}">Courses</a></li>
                        <li class="{% if 'teachers' in request.path%} active {% endif %}"><a href="{% url 'teachers' %}">Teachers</a></li>
                        <li class="{% if 'about' in request.path%} active {% endif %}"><a href="{% url 'about' %}">About</a></li>
                        <li class="{% if 'contact' in request.path%} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
                       
                        {% if user.is_authenticated %}
                        <li class="{% if 'dashboard' in request.path%} active {% endif %}"><a href="{% url 'dashboard' %}">{{user.username}}</a></li>
                        <li class="btn-cta"><a href="javascript:{document.getElementById('logout').submit()}"><span>Logout</span></a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                        {% else %}
                        <li class="btn-cta"><a href="{% url 'login' %}"><span>Login</span></a></li>
                        <li class="btn-cta"><a href="{% url 'register' %}"><span>Register</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>