{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Course</h2>
				</div>
			</div>
				<div class="row">
					<div class="col-md-10 animate-box fadeInUp animated-fast">
						
                {% for course in courses %}
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url({{course.image.url}});">
						</a>
						<div class="desc">
							<h3><a href="#">{{ course.name }}</a></h3>
								<h6><span>{{course.date |date:"d M Y"}}</span> <span>| {{course.teacher}}</span></h6>
							<p>{{ course.description | truncatechars:120 }}</p>
							<span><a href="{% url 'course' course.category.slug course.id %}" class="btn btn-primary btn-sm btn-course">Take A Course</a></span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		
	
		<div class="col-md-2 animate-box fadeInUp animated-fast">
			<div class="widget-search ">
				<div class="site-search-area">
					<form method="get" id="site-searchform" action="{% url 'search' %}">
						<div>
							<input class="input-text form-control" name="search" id="search-k" placeholder="Search keywords..." type="text">
							<input id="searchsubmit" value="Search" type="submit" >
						</div>
					</form>
					<br/>
				</div>
			</div>
			<div class="widget-categories ">
				<h3 class="widget-title">Categories</h3>

					<ul>
						{% for category in categories %}
						<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
			</div>
			<div class="widget-tags">
				<h3 class="widget-title">Search Tags</h3>
				<ul class="tags">
					{% for tag in tags %}
					<li><a href="{% url 'tag' tag.slug %}">{% if tag.slug in request.path %}<b>{{tag.name}}</b> {% else %}{{ tag.name }} {% endif %}</a></li>
					{% endfor %}
					
				</ul>
			</div>
		</div>
</div>
</div>
</div>

    {% endblock %}