{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<div class="all-title-box">
		<div class="container text-center mr-5">
			<h1>{{ course.name }}<span class="m_1"></span></h1>
		</div>
	</div>
	<br>
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
				<div class="col-md-10 animate-box fadeInUp animated-fast">
					<div class="container">
						<img class="img-thumbnail" src="{{course.image.url}}" style="width: 400px;">
					</img>
					<br>
					<br>
						<h6 ><span>{{course.date |date:"d M Y"}}</span><span>    |   {{user_count}} Students Enrolled </span></h6>
						<h6><a href="{% url 'teacher' course.teacher.pk %}">{{course.teacher.name}}</a></h6>
						{% if user.is_authenticated %}
							{% if course in enrolled_courses %}
								<button type="submit" class="btn btn-outline-danger rounded-0 float-right" data-toggle="modal" data-target="#releaseModal">
									<span>Release</span>
								</button>
							{% else %}
								<button type="submit" class="btn btn-outline-success rounded-0 float-right" data-toggle="modal" data-target="#enrollModal">
									<span>Enroll</span>
								</button>
							{% endif %}
						{% endif %}
						<p class="" style=" max-width: 120ch;">{{course.description}}</p>
					</div>
						
					</div>
					<br>
					<br>
                <!-- end col -->
				<div class="col-md-2 animate-box fadeInUp animated-fast">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>

							<ul>
								{% for category in categories %}
								<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
								{% endfor %}
							</ul>
					</div>
					<div class="widget-tags">
						<h3 class="widget-title">Search Tags</h3>
						<ul class="tags">
							{% for tag in tags %}
							<li><a href="{% url 'tag' tag.slug %}">{% if tag.slug in request.path %}<b>{{tag.name}}</b> {% else %}{{ tag.name }} {% endif %}</a></li>
							{% endfor %}
							
						</ul>
					</div>
				</div>
            </div><!-- end row -->

				
			</div>
        </div><!-- end container -->
    </div><!-- end section -->
<!-- ENROLL Modal -->
<div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
				<span>&times;</span>
			</button>
				<h2 class="modal-title" id="enrollModalLabel">Enroll The Course</h2>
				
			</div>
			<div class="modal-body">
				<p>You will enroll the course below:</p>
				<h3>{{course.name}}</h3>
			</div>
			<div class="modal-footer">
				<form action="{% url 'enroll_the_course' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{user.id}}">
					<input type="hidden" name="course_id" value="{{course.id}}">
					<input type="submit" value="I am sure" class="btn btn-success">
					<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
				</form>

			</div>
		</div>
	</div>
</div>

<!-- RELEASEModal -->
<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
				<h2 class="modal-title" id="releaseModalLabel">Release The Course</h2>
			</div>
			<div class="modal-body">
				<p>You will release the course below:</p>
				<h3>{{course.name}}</h3>
			</div>
			<div class="modal-footer">
				<form action="{% url 'release_the_course' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{user.id}}">
					<input type="hidden" name="course_id" value="{{course.id}}">
					<input type="submit" value="I am sure" class="btn btn-danger">
					<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
						
					</input>
				</form>
				
			</div>
		</div>
	</div>
</div>

    {% endblock %}